<div>
  <h1>Filter By:</h1>
    <div>
      <h2>Treatments:</h2>  
    </div>
    <div>
      <h2>Surgeries:</h2>
    </div> 
    <div>
      <h2>Characteristics:</h2>
    </div>
    <div>
      <h2>State:</h2>
    </div>
</div>