<h1 align = "center">Registered children by Trisomy type:</h1>
<table style = "width: 40%; float: left">
    <tr>
        <th>Trisomy Type</th>
        <th>Registered Children</th>
        <th>Common Name</th>
        <th>Percent (%)</th>
    </tr>
    
        <% trisomy_number = 1 %>
        <% common_names = ["-", "-", "-", "-", "-", "-", "-", "-", "Warkay Syndrome", "-", "-", "-", "-", "Patau Syndrome", "-", "-", "-", "-", "Edwards Syndrome", "-", "-", "Down Syndrome", "-", "-"] %>
        <% 23.times do %>
    <tr>
        <td><%= trisomy_number %></td>
        <td><%= Child.where(trisomy_type: trisomy_number).count %></td>
        <td><%= common_names[trisomy_number] %> </td>
        <% count = Child.where(trisomy_type: trisomy_number).count %>
        <% decimal = count.to_f / Child.all.count.to_f %>
        <% percent = decimal * 100 %>
        <% percent_integer = percent.to_i %>
        <% if percent_integer == 0 %>
            <% percent_integer = "-" %>
        <% end %>
        <td><%= percent_integer %></td> 

    </tr>
    <% trisomy_number += 1 %>
    <% end %>
</table>
<br>
<div id="container2" style="height: 400px; max-width: 600px; float: right"></div>




<script src="https://code.highcharts.com/highcharts.js"></script>
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>



