<div ng-app="app">
  <div ng-controller="familyCtrl" ng-init="setup()">
    <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)" dismiss-on-timeout="8000">{{alert.msg}}</div>
    <br>
    <br>
    
    <div class="well">
      <h1 style="text-align: center;">
        The {{family.family_name}} Family
      </h1>
      <br>
      <img src='{{family.photo}}'onerror="this.src='http://freevector.co/wp-content/uploads/2009/08/24029-profile-user-silhouette1.png'" style="height:400px; display: block; margin: auto;"></img>
      <br>
      <p>
        Address: {{family.address}}
      </p>
      <p>
        City: {{family.city}}
      </p>
      <p>
        State: {{family.state}}
      </p>
      <p>
        Website: <a ng-href="http://{{family.website}}">{{family.website}}</a>
      </p>
      <p>
        Story: {{family.story}}
      </p>
      
      <%= link_to "Edit", '/families/{{family.id}}/edit', class: "btn btn-info" %>
      <%= link_to 'Add Child', profile_new_path, class: "btn btn-success" %>
      
    </div>

    <h2>Children:</h2>

    <div class="col-md-4" ng-repeat="child in children">
      <div class="well">
        <p>
          Name: <a href='/profile/{{child.id}}'>{{child.first_name}} {{child.last_name}}
        </a></p>
        <br>
        <img ng-if="child.picture_url != 'https://trisomy-families.s3.amazonaws.com/qejRsVmtlbnpiVuXcrWi_11529854.png'" src='{{child.picture_url}}' style="width:150px;height:150px; display: block; margin: auto;">
        <img ng-if="child.picture_url === 'https://trisomy-families.s3.amazonaws.com/qejRsVmtlbnpiVuXcrWi_11529854.png'" src='http://freevector.co/wp-content/uploads/2009/08/24029-profile-user-silhouette1.png' style="width:150px;height:150px; display: block; margin: auto;">
        <br>
        <p ng-if='child.nickname != nil'>
          Nickname: {{child.nickname}}
        </p>
        <p>
          Trisomy Type: {{child.trisomy_type}}
        </p>

      </div>
      
    </div>

  </div>
</div>