<div class="header-top colored">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
       
        <!-- header-top-first end -->
        <div id="header-top-first"  class="clearfix text-left">
          <nav>
            <ul class="top-nav-menu">
              <!-- li><a class="link-light " href="#"><i class="fa fa-user-md pr-5"></i>Find a Trisomy Doctor</a></li>
              <li><a class="link-light" href="#"><i class="fa fa-flask pr-5"></i>Research</a></li> -->
              <li><a class="link-light" href="#">About Us</a></li>
              <li><a class="link-light" href="#">Media</a></li>
              <li><a class="link-light" href="#"><i class="fa fa-info-circle pr-5"></i>FAQ</a></li>
              <li><a class="link-light" href="#">Get Support</a></li>
              <li><a class="link-light" href="#">Contact Us</a></li>
              <li><a class="link-light" href="#">Donate</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <!-- <div class="col-xs-10 col-sm-7">

       
        <div id="header-top-first"  class="clearfix text-left">
          <nav>
            <ul class="list-inline">
              <li><a class="link-light " href="#"><i class="fa fa-user-md pr-5"></i>Find a Trisomy Doctor</a></li>
              <li><a class="link-light" href="#"><i class="fa fa-flask pr-5"></i>Research</a></li>
              <li><a class="link-light" href="#"><i class="fa fa-info-circle pr-5"></i>FAQ</a></li>
              <li><a class="link-light" href="#">Contact Us</a></li>
            </ul>
          </nav>
        </div>
       
      </div> -->
    </div>
  </div>
</div>