<h1>About this Website</h1>

<h4>The mission of this website is to bring families together affected by trisomy, bring doctors who work on patients with Trisomy together, and data on patients with Trisomy, in an ananomous way, that could be used for research and insight into Trisomy contitions and treatments.</h4>
<h2>Initial Signup</h2>
<br>
<h4>To join our community there is first a simple signup form where you enter basic information, and indicate wheter you are a physician or a family</h4>
<br>
<h2>Create your profile page as a Family</h2>
<h4>Once past the initial signup form, you can create your profile page.  If you signed up as a family, you will have options to upload a family picture, write a story, enter your location (which is used to plot your location on an interactive google map), and provide more details about how your family has been affected by Trisomy</h4>
<br>
<h4>Once you have generated a family profile page you can add and register a child with trisomy.  Here you will provide specific information about your child and specifics about their condition.  The data provided is remains completely ananamous</h4>
<br>
<h2>Create your profile page as a Doctor</h2>
<h4>If you joined as a doctor, you will similarly, create a profile page: entering your location (Also plotted on our interactive google map in the Family Center), and other details such as your experience with Trisomy as a Doctor, and your specialties related to Trisomy patients</h4>
<br>
<h2>The Family Center</h2>
<h4>The Family center is composed of an interactive map where users can search for families and doctors based on geographic location, the plotted markers can be clicked on to travel to that users family or doctor profile page</h4>
<h2>The Data Center</h2>
<h4>The Data Center displays a series of graphs and tables showing data gathered from users input.  Such as number of children signed up by Trisomy type, and birth order of children signed</h4>