
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.css"></link>
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.print.css"></link>

<div ng-app="app">
  {{ 1 + 1 }}
  <div ui-calendar ng-model="eventSources"></div>

</div>
