<div ng-app="app">
  <div ng-controller="adminchildrenCtrl" ng-init="setup()">

    <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)" dismiss-on-timeout="8000">{{alert.msg}}</div>
    <br>
    <a href="/admin-dashboard " class="btn btn-primary">See All Users</a>
    <h2>Children:</h2>
    <label>Filter by:</label>
    <select id="filter_type">
      <datalist>
        <option>Name</option>
        <option>Registration</option>
        <option>Date Created</option>

      </datalist>
    </select>
    <div id="full_name" style="display: inline-block;">
      <input id="full_name_text" ng-model="fullName" list="names">

      <datalist id="names">
        <option ng-repeat="child in children track by $index">{{ child.full_name }}</option>
      </datalist>
    </div>
    <div id="registration" style="display: none;">
      <select ng-model="sortBy" id="selected_registration">
        <option value=""></option>
        <option value="-registered">Registered</option>
        <option value="registered">Not registered</option>
      </select>
    </div>
    <div id="order" style="display: none;">
      <select ng-model="orderBy" id="dateOrder">
        <option value=""></option>
        <option value="newToOld">Newest To Oldest</option>
        <option value="oldToNew">Oldest To Newest</option>        
      </select>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-4" ng-repeat="child in children | filter: {full_name: fullName} | orderBy:sortBy | orderBy:orderAttribute:isOrderDescending ">
        <div class="well">
          <div style="text-align: center">
            <h4 ng-if='child.privacy.avatar === true && child.privacy_count <= 1'>{{child.first_name}} {{child.last_name}}</h4>
            <h4 ng-if='child.privacy_count === 1 && child.privacy.avatar === false'>{{child.first_name}} {{child.last_name}}</h4>
            <h4 ng-if='child.privacy_count > 1'><a href="/profile/{{child.id}}" style="color:blue">{{child.first_name}} {{child.last_name}}</a></h4>
            <hr>
          </div>
          <div ng-if='child.privacy.avatar === false && child.avatar != "https://trisomy-families.s3.amazonaws.com/qejRsVmtlbnpiVuXcrWi_11529854.png"'>
            <img src='{{child.avatar}}' style="width:150px;height:150px; display: block; margin: auto;">
            <br>
          </div>
          <div ng-if='child.privacy.avatar === true || (child.privacy.avatar === false && child.avatar == "https://trisomy-families.s3.amazonaws.com/qejRsVmtlbnpiVuXcrWi_11529854.png")'>
            <img src='http://freevector.co/wp-content/uploads/2009/08/24029-profile-user-silhouette1.png' style="width:150px;height:150px; display: block; margin: auto;">
            <br>
          </div>  
          <p ng-if='child.registered'><label>Registered:</label> {{child.registered}} </p>
          <p ng-if='!child.registered'><label>Registered:</label> false</p>
          <p ng-if='child.accepted'><label>Accepted:</label> {{child.accepted}}</p>
          <p ng-if='!child.accepted'><label>Accepted:</label> false </p>
          <div style="text-align: center">
            <hr>
            <a href="/registrations/{{child.id}}"><button class="btn btn-primary">View Registration</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

   document.getElementById('filter_type').addEventListener('change', function () {
    if(this.value === 'Registration') {
      document.getElementById('registration').style.display = 'inline-block';
      document.getElementById('full_name').style.display = 'none';
      document.getElementById('order').style.display = 'none';
      document.getElementById('full_name_text').value = "";
      document.getElementById('dateOrder').value = '';

    } else if (this.value === 'Name') {
      
      document.getElementById('full_name').style.display = 'inline-block';
      document.getElementById('registration').style.display = 'none';
      document.getElementById('order').style.display = 'none';
      document.getElementById('selected_registration').value = undefined;
      document.getElementById('dateOrder').value = '';

    } else if (this.value ==='Date Created'){
      
      document.getElementById('order').style.display = 'inline-block';
      document.getElementById('registration').style.display = 'none';
      document.getElementById('full_name').style.display = 'none';
      document.getElementById('full_name_text').value = "";
      document.getElementById('selected_registration').value = undefined;
      
    };
   });

   document.getElementById('dateOrder').addEventListener('change', function () {
    $scope.setOrderAttribute(this.value);
   });
  
</script>
