<div ng-app="app">
  <div ng-controller="adminchildrenCtrl" ng-init="setup()">

    <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)" dismiss-on-timeout="8000">{{alert.msg}}</div>

    <a href="/admin-dashboard " class="btn btn-primary">See All Users</a>
    <h2>Children:</h2>
    <div>
      <label>Filter by last name:</label>
      <input ng-model="last_nameFilter" list="names">

      <datalist id="names">
        <option ng-repeat="child in children track by $index">{{ child.last_name }}</option>
      </datalist>
    </div>
    <br>
    <div>
      <label>Sort by Registration:</label>
      <select ng-model="sortBy">
        <option value="-registered">Registered</option>
        <option value="registered">Not registered</option>
        <option value="accepted">Accepted</option>
        <option value="-accepted">Not Accepted</option>
      </select>
    </div>
    <br>

    <button ng-click="setOrderAttribute('id')">Order by creation time</button>
    <br>
    <br>
    <div class="row">
      <div class="col-md-4" ng-repeat="child in children | filter: {last_name: last_nameFilter} | orderBy: sortBy | orderBy:orderAttribute:isOrderDescending ">
        <div class="well">
          <div style="text-align: center">
            <h4>{{child.first_name}} {{child.last_name}}</h4>
            <hr>
          </div>
          <p ng-if='child.registered' >Registered: {{child.registered}} </p>
          <p ng-if='!child.registered' >Registered: false </p>
          <p ng-if='child.accepted' >Accepted: {{child.accepted}} </p>
          <p ng-if='!child.accepted' >Accepted: false </p>
          <div style="text-align: center">
            <hr>
            <a href="/registrations/{{child.id}}"><button class="btn btn-primary">View Registration</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
