<div ng-app="app">
  <div ng-controller="adminCtrl" ng-init="setup()">

    <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)" dismiss-on-timeout="8000">{{alert.msg}}</div>
    <a href="/children-index">Children Index</a>

    <div>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Add Profile <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="/families/new">Family</a></li>
          <li><a href="/profile_doctor">Doctor</a></li>
        </ul>
      </div>
    </div>
    <hr />

    <h2>Users:</h2>
    <div>
      <label>Filter by email:</label>
      <input ng-model="emailFilter" list="emails">
      <datalist id="emails">
        <option ng-repeat="user in users track by $index">{{ user.email }}</option>
      </datalist>
    </div>
    <br>
    <div>
      <label>Filter by type:</label>
      <select ng-model="user_typeFilter" list="user_types">

      <datalist id="user_types">
        <option>admin</option>
        <option>doctor</option>
        <option>family</option>
      </datalist>
      </select>
    </div>
    <br>
    <div>
      <label>Filter by last name:</label>
      <input ng-model="lastName">
    </div>
    <br>
    <button ng-click="setOrderAttribute('id')">Order by creation time</button>
    <br>
    <br>
    <div class="row">
      <div class="col-md-4" ng-repeat="user in users | filter: {user_type: user_typeFilter} | filter: {email: emailFilter} | filter: {last_name: lastName} | orderBy:orderAttribute:isOrderDescending ">
        <div class="well">
          <h4>{{user.email}}</h4>
          <hr>
          <p>Name: {{user.first_name}} {{user.last_name}}</p>
          <p>Type: {{user.user_type}}</p>
          <p>Signed up: {{user.created_at}}</p>
          <form>
            <div>
              <label>Update User Type: </label>
              <select ng-model="user.user_type" list="types" disableEntry: true >
              <datalist id="types">
                <option>admin</option>
                <option>doctor</option>
                <option>family</option>
              </datalist>
              </select>
              <input type="hidden" ng-model="user.id">
            </div>
            <br>
            <div class="submit">
              <input type="submit" ng-click="updateType(user.user_type, user.id)">
            </div>
          </form>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
