<div class="row">
  <div class="col-md-4">
    <img id="Image-Maps-Com-image-maps-2016-12-29-213047" src="http://www.image-maps.com/m/private/0/obiumeshlot17lnnscmg0kvdr5_trisomy-side-bar.png" border="0" width="172" height="757" orgWidth="172" orgHeight="757" usemap="#image-maps-2016-12-29-213047" alt="" />
    <map name="image-maps-2016-12-29-213047" id="ImageMapsCom-image-maps-2016-12-29-213047">
    <area  alt="family stories" title="" href="http://localhost:3000/familystories" shape="rect" coords="0,13,149,67" style="outline:none;" target="_self"     />
    <area  alt="research" title="" href="http://localhost:3000/research" shape="rect" coords="0,129,150,176" style="outline:none;" target="_self"     />
    <area  alt="facebook" title="" href="https://www.facebook.com/trisomyfamilies.hope.18.13.awareness/" shape="rect" coords="0,208,151,255" style="outline:none;" target="_self"     />
    <area shape="rect" coords="170,755,172,757" alt="Image Map" style="outline:none;" title="Image Map" href="http://www.image-maps.com/index.php?aff=mapped_users_79300" />
    </map>
  </div>
  <div class="col-md-8">
    <h1>Users Index Page</h1>
  </div>
</div>

