<div ng-app="app">
  <div ng-controller="adminCtrl" ng-init="setup()">
    <h2>Users:</h2>
    <div>
      <label>Filter email:</label>
      <input ng-model="emailFilter" list="emails">

      <datalist id="emails">
        <option ng-repeat="user in users">{{ user.email }}</option>
      </datalist>
    </div>
    <br>
    <div ng-repeat="user in users | filter: {email: emailFilter}">
      <p>Name: {{user.first_name}} {{user.last_name}}</p>
      <p>Email: {{user.email}}</p>
      <form>
        <div>
          <label>Type: </label>
          <input ng-model="user.user_type" >
        </div>
        <br>
        <input type="submit" ng-click="createType(user.user_type)">
      </form>
      <br>
    </div>
  </div>
</div>
