<div ng-app='app'>
  <div ng-controller="queriesCtrl">
   <div fusioncharts
        width = "1000px"
        height = "1000px"
        type = "column2d"
        dataSource = "{{myDataSource}}" >
   </div>
  </div>
</div>