<head>
    <style>
       #map {
        height: 600px;
        width: 100%;
       }
/* Removes styles for active state - when user presses the submit button. */
       .btn:focus {
         outline: none;
         color: white;
         background-color: #5cb85c;
         border-color: inherit;
       }
    </style>
  </head>
  <body>
    <h1>Family Center </h1>
    <div ng-app="app">
      <div ng-controller="MapSearchController">
      <form name="search_form" class="form-inline">
      <h4>Search For:</h4>
      <div class="form-group">
        <label for="searchQueryType"></label>
        <select class="form-control" id="searchQueryType" ng-model="query.type" onchange="toggleTrisomyType()">
          <option value="">--User Type--</option>
          <option value="family">Family</option>
          <option value="physician">Physician</option>
        </select>
      </div>

      <div class="form-group">
        <select class="form-control" id="searchQuerytrisomy_type" ng-model="query.trisomy_type" name="trisomy_type">
          <option value="">--Trisomy Type--</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
        </select>
      </div>

      <div class="form-group">
        <label for="name"></label>
        <input type="text" class="form-control" id="name" placeholder="Last Name" ng-model="query.last_name" ng-minlength="1"></input>
      </div>

      <div class="form-group">
        <ang-select-usstates ng-model="query.state" name="State" id="selectState" class="form-control"></ang-select-usstates>
      </div>

      <input type="button" id="btnSubmit" class="btn btn-success" value="Search" ng-click="performSearch()">
    </form>
      <h3>{{ searchResults }}</h3>
      <div id="map"></div>

<!-- #####################################################################
    Search form does not behave properly, however this will not affect demo.
    1. If lastname is edited and then left empty, the form will submit an empty string
      and cause a crash.
    2. Select state button is not active if selected first.
    ###################################################################### !-->

      
  </div>
</div>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzNgVwahZQ63o16EMv8eU4XFvdkgdr2XM">
    </script>
  </body>

    <script>
          $("#searchQuerytrisomy_type").hide();
          $("#selectState").hide();
          $("name").hide();
          $("btnSubmit").hide();
          function toggleTrisomyType(){
            var user_type = $("#searchQueryType").val();
            console.log(user_type);
            if(user_type == "family"){
              $("#searchQuerytrisomy_type").show();
              $("#selectState").show();
            }
            else if(user_type == "physician"){
             $("#searchQuerytrisomy_type").hide();
             $("#selectState").show();
            }
            else {
             $("#searchQuerytrisomy_type").hide();
             $("#selectState").hide();
            }
          }
    </script>


