<head>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h1>Family Center </h1>
    <div ng-app="app">
      <div ng-controller="familycenterCtrl">
      <h3>{{ searchResults }}</h3>
    <div id="map"></div>

    <form class="form-inline">
      <h4>Search For:</h4>
      <div class="form-group">
        <%= select_tag(:state, options_for_select(us_states), class: "form-control") %>
      </div>
      <div class="form-group">
        <label for="name"></label>
        <input type="text" class="form-control" id="name" placeholder="Last Name" ng-model="query.last_name"></input>
      </div>
      <div class="form-group">
        <label for="searchQueryType"></label>
        <select class="form-control" id="searchQueryType" ng-model="query.type">
          <option value="family">Family</option>
          <option value="physician">Physician</option>
        </select>
      </div>
      <button type="button" class="btn btn-success" ng-click="performSearch()">Search</button>
    </form>
  </div>
  </div>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzNgVwahZQ63o16EMv8eU4XFvdkgdr2XM">
    </script>
  </body>
