// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_header {
  text-align: center;
}

.well {
  width: 100%;
  background-color: #f2f2f2;
}

.submit {
  text-align: center;
}